#alumni_container {
	overflow: hidden;
	position: relative;
	height: inherit;
	width: inherit;
	background: black;
	border: 10px solid #ff8f00;
	display: flex;
	align-items: center;
	justify-content: center;
}

#alumni_container:hover {
	opacity: .8;
}