#alumni_container {
	overflow: hidden;
	position: relative;
	height: inherit;
	width: inherit;
	background: #aaa;
	border: 10px solid #ddd;
	align-content: center;
}

#alumni_container img {
	position: absolute;
	transform: scale(.9) translateY(-50%);
	top: 50%;
	right: 0px;
}

#alumni_container:hover {
	opacity: .8;
}