#blm_container {
    overflow: hidden;
    position: relative;
    height: inherit;
    width: inherit;
    background: black;
    border: 10px solid black;
    display:  flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}

#blm_icon {
    width: 20%;
}

#blm_container:hover {
    opacity: .8;
}