#florida_container {
	overflow: hidden;
	position: relative;
	height: inherit;
	width: inherit;
	border: 10px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
}

#img_fa:hover {
	opacity: .5;
}

#florida_container img {
	/*position: absolute;*/
	/*top: 15px;*/
	width:  80%;
}

#img_murica {
	opacity: 0;
	z-index: 5;
}

#florida_container:hover #img_murica {
	opacity: 1;
}