#fsi_container {
    overflow: hidden;
    position: relative;
    height: inherit;
    width: inherit;
    background: white;
    border: 10px solid #e2e9ee;
    /* rgb(102, 74, 228) */
    display: flex;
    justify-content: center;
    align-items: center;
}

#fsi_container:hover #fsi_egg_top {
    top: -70px;
}

#fsi_egg_top {
    position:  absolute;
    top: 45px;
    transition: 500ms top;
}
