#moscow_container {
	overflow: hidden;
	position: relative;
	height: inherit;
	width: inherit;
	background: black;
	border: 10px solid #efefef;
	display: flex;
	align-items: center;
	justify-content: center;
}

#moscow_container img {
	width:  50%;
}

#moscow_container:hover {
	opacity: .8;
}