#spotify_container {
	overflow: hidden;
	position: relative;
	height: inherit;
	width: inherit;
	background: black;
	border: 10px solid black;
	align-content: center;
}

#spotify_container img {
	width: 250px;
}

#spotify_container:hover img {
	opacity: .8;
}