/*
font-family: 'Alfa Slab One', serif;
font-family: 'Open Sans', sans-serif;
*/

* {
    --color_scheme: rgb(47, 92, 55);
    --color_scheme2: white;
}

* {
    font-family: 'Alfa Slab One', serif;
    margin: 0px;
}

ul {
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
}

.hr {
    display: block;
    width: 75%;
    height: 3px;
    background: lightgrey;
    margin-bottom: 3em;
    margin-top: 3em;
}

header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    height: 370px; 
    width: 100%;
    background: var(--color_scheme);
    text-align: center;
    margin: 0;
    box-shadow: 0px 5px 5px #aaa;
}

#title {
    font-family: 'Alfa Slab One', serif;
    font-size: 55px;
    letter-spacing: 15px;
    color: var(--color_scheme2);
}

#subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: var(--color_scheme2);
}

.filters {
    cursor: pointer;
}

.box {
    position: relative;
    margin: 15px;
    height: 250px !important; 
    width: 250px !important;
    display: inline-block;
    cursor: pointer;
    box-shadow: 5px 5px 5px #aaa;
    border-radius: 5px;
    -webkit-transition: 250ms;
    transition: 250ms;
}

.box:hover {
    -webkit-transform: scale(.99);
            transform: scale(.99);
    box-shadow: none;
}

h1 {
    text-align: center;
    font-family: 'Alfa Slab One', serif;
    font-size: 45px;
    font-weight: lighter;
    letter-spacing: 4px;
    color: var(--color_scheme);
}

#projects_header {
    background: var(--color_scheme);
    /*box-shadow: 0px 5px 5px #aaa;*/
    box-shadow: 0px 0px 7px #aaa;
}

#projects_header_content {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    text-align: center;
    display: inline;
    margin: 50px;
}

#projects_header h1 {
    color: var(--color_scheme2);
}

.blurb {
    display: inline-block;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    max-width: 750px;
    /*min-width: 500px;*/
}

.blurb_title {
    font-family: 'Alfa Slab One', serif;
    color: black;
    font-size: 40px;
    margin-bottom: .5em;
}

.blurb_subtitle {
    font-family: 'Alfa Slab One', serif;
    font-size: 20px;
    margin-bottom: .6em;
    color: #444;
}

.blurb_info, p {
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-bottom: 1.4em
}

.blurb_info li {
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-bottom: .6em
}

#motivation {
    display: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    width: 75%;
    max-width: 600px;
}

#motivation p {
    line-height: 1.6em;
}

#hidden {
    visibility: hidden;
    display: none;
}

#filter {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#filter li {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .1em;
    list-style-type: none;
    display: inline-block;
    padding: 7px 15px;
    margin: 3px;
    background: var(--color_scheme);
    color: var(--color_scheme2);
    border: 1px solid var(--color_scheme);
    border-radius: 5px;
}

.date {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-bottom: 1em;
}

#projects {
    width: 100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    min-height: 300px;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-right: 100px;
}

a {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: inherit;
}

a:after {
    content: '';
    width: 100%;
    height: .45em;
    top: .85em;
    left: 0px;
    opacity: .2;
    position: absolute;
    background: var(--color_scheme);
    -webkit-transition: 250ms;
    transition: 250ms;
}

a:hover:after {
    top: 1.3em;
    opacity: 1;
    height: .15em;
}

#filter li:hover {
    background: var(--color_scheme2);
    color: var(--color_scheme);
    opacity: .9;
}

.filter_active {
    background-color: var(--color_scheme2) !important; 
    color: var(--color_scheme) !important;
}

footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    height: 120px;
    width: 100%;
    background: var(--color_scheme);
    color: var(--color_scheme2);
    box-shadow: 0px 0px 7px #aaa;
}

.icon:hover {
    opacity: .6;
}
.icon {
    display: inline-block;
    padding: 10px;
}
#contact_container {
    text-align: center;
    text-decoration: none;
}

#hello {
    margin-bottom: .6em;
}


.filters {
    cursor: pointer;
}

.flex_container {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
}

.flex_container div {
    display: inline-block;
}

.tools_used {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-bottom: 1em;
}

#llc {
    font-family: Courier;
}

.header_content { padding: 5px; }
@media only screen and (max-width: 670px) {
    #title {
        font-size: 40px;
    }
    #subtitle {
        font-size: 15px;
    }
}
