* {
	margin: 0px;
	--color1: #9F082B;
	--color2: #761027;
	--color3: #4C1824;
	--color4: #232020;

	font-family: Arial, sans-serif;
	--banner-thickness: 70px;
	box-sizing: border-box;
}

#about {
	width: 30px;
	position: absolute;
	bottom: calc((var(--banner-thickness) - 30px)/2);
	left: calc((var(--banner-thickness) - 30px)/2);
}

#stage {
	z-index: 8;
	color: white;
	padding: 50px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: calc(100vh-var(--banner-thickness));
}

#tab {
	display: none;
	position: relative;
	justify-content: flex-start;
}

.col1 {background: var(--color2);}
.col2 {background: var(--color3);}
.col3 {background: var(--color4);}

#step1 {
	z-index: 9;
	position: sticky;
	top: 0px;
	height: 100vh;
	background: var(--color1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	transition: height 250ms;
	box-shadow: 2px 2px 2px black;
}

.vert_column {
	position: sticky;
	top: var(--banner-thickness);
	height: calc(100vh - var(--banner-thickness));
	font-size: 50px;
	display: flex;
	overflow: hidden;
	width: var(--banner-thickness);
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	text-orientation: upright;
	-webkit-text-orientation: upright;
  	align-items: center;
  	justify-content: center;
}

#step2 {
	color: white;
  	box-shadow: 2px 2px 2px black;
}

.count {
	font-size: x-small;
	font-weight: lighter;
	position: relative;
	bottom: .25em;
}

#florida {
	font-size: 50px;
}

#choices {
	width: 500px;
	text-align: center;
	display: inline;
}

.button {
	display: inline-block;
	margin: 10px;
	border: 3px solid white;
	padding: 10px 20px;
	transition: color 250ms, background 250ms;
	cursor: pointer;
	border-radius: 5px;
}

.button:hover {
	background: white;
	color: var(--color1);
}

#step3 {
	width: 100%;
	color: white;
	box-shadow: 2px 2px 2px black;
}

/*--------------ARTICLES-------------------*/

#articles_container {
	max-width: 650px;
	min-width: 350px;
}

.article_container {
	width: 100%;
	background: white;
	padding: 10px;
	transition: transform 250ms;
	margin: 10px;
	border-radius: 5px;
}

.article_container:hover {
	transform: scale(1.01);
	box-shadow: 3px 3px 3px black;
}

.inner_container {
	border-left: 3px solid black;
	padding: 15px;
}

.title {
	font-size: large;
	font-weight: bold;
	margin-bottom: 10px;
	color: black;
}

.lower {
	display: flex;
	width: 100%;
	justify-content: space-between;
	color: grey;
	font-size: smaller;
}

.lower_left {
	display: flex;
	align-items: center;
	text-align: left;
}

.lower_right {
	height: 100%;
	display: flex;
	text-align: right;
	flex-direction: column;
}

a {
	color: black;
}

a:hover {
	color: grey;
}

/*---------ABOUT--------*/
#overlay {
	width: 100%;
	height: 100vh;
	background: black;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0px;
	z-index: 9999;
	display: none;
}

p {
	margin: 15px;
}

#overlay_content {
	width: 550px;
	opacity: 1;
	background: white;
	padding: 10px;
	border-radius: 5px;
}

/*---------REVERSIBLE---------*/
.clickable {
	cursor: pointer;
	transition: transform 250ms;
}
.clickable:hover {
	opacity: .8;
}

/*---------SORTER---------*/
.sorter {
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}

button {
	padding: 5px;
	background: none;
	color: white;
	font-size: large;

	margin: 5px;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 0px;
}

button:hover {
	background: white;
	color: black;
	cursor: pointer;
}