/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Alfa Slab One', serif;*/

* {
	margin: 0px;
	--header-height: 50px;
	--left-margin: 50px;
}

p > a {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: inherit;
}

p >  a:after {
	content: '';
	width: 100%;
	height: .45em;
	top: .85em;
	left: 0px;
	opacity: .2;
	position: absolute;
	background: green;
	transition: 250ms;
}

p > a:hover:after {
	top: 1.3em;
	opacity: 1;
	height: .15em;
}

.center {
	text-align: center;
	margin-left: -50px;
}

.byline {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	position: relative;
	left: -25px;
	font-family: 'Alfa Slab One', serif;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

header {
	height: var(--header-height);
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: green;
	width: 100%;
	font-family: Courier;
	color: white;
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 2;
}

#below_header {
	position: relative;
	top: calc(-1*var(--header-height));
	/*z-index: 1;*/
}

.blog_title {
	margin: 0px 0px 10px 0px;
	font-family: 'Alfa Slab One', serif;
	font-size: 50px;
}

.blog_subtitle {
	margin: 0px 0px 10px 0px;
	font-family: 'Alfa Slab One', serif;
	color: grey;
	font-size: 30px;
}

.blog_container {
	max-width: 750px;
	min-width: 650px;
	margin: 50px auto;
	margin-bottom: calc(100px - var(--header-height));
	font-family: 'Open Sans', sans-serif;
	background: white;
	padding: 50px;
	padding-left: 100px;
	box-shadow: inset 0px 0px 5px black;
	border-radius: 5px;
}

body {
	background: #222;
}

header div {
	margin: 10px;
}

p {
	line-height: 1.3em;
	margin: .2em 0px 1em 0px;
}

.icon:hover {
	opacity: .6;
}
.icon {
	display: inline-block;
	padding: 10px;
}
#contact_container {
	text-align: center;
	text-decoration: none;
}

.shadow {
	box-shadow: 0px 0px 5px black;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 120px;
	width: 100%;
	background: green;
	color: white;
	font-family: 'Courier';
}

#blog_header {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: black;
	z-index: 3;
}

#gif {
	width: 80%;
	border-radius: 5px;
	/*box-shadow: 0px 0px 5px;*/
}
/*TABLE*/
#my_table_container {
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
}

.format_numbers {
	text-align: right;
}


#header_image {
	position: absolute;
	height: 100vh;
	top: 0px;
	opacity: .8;
}

.title_container {
	background: white;
	box-shadow: 0px 0px 5px;
	z-index: 3;
	max-width: 750px;
	padding: 25px;
	margin: 25px;
	border-radius: 5px;
}

.go_home {
	cursor: pointer;
	transition: 250ms;
}

.go_home:hover {
	transform: scale(1.05)
}

#go_home_link {
	text-decoration: none;
	color: white;
	font-family: 'Courier'
}

#go_home_link::after {
	display: none;
}

#bottom_material {
	margin-left: -50px;
}